#submitSection {
    width: 450px;
    float: left;
    margin: 20px;
}

#pictureSection {
    float: left;
    width: 1364px;
    margin: 20px;
}

#header {
    margin: 20px;
}

.card {
    width: 350px;
    float: left;
    padding: 10px;
    margin: 10px;
}

.card-img-top-fluid {
    height: 200px;
}

body {
    background-image: url("../images/trees.jpg");
    background-size: 100%;
}

.container-fluid {
    padding: 0;
    width: 100%
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.card-body {
    padding: 0;
}

#uploader {
    width: 100%;
}

