#submitSection {
    width: 25%;
    float: left;
    margin: 20px;
}

#pictureSection {
    margin: 20px 0 20px 10px;
    float: left;
    width: 69.5%;
    align-content: center; 

}

#header {
    margin: 20px;
}

.card {
    width: 31%;
    float: left;
    margin: 10px;
   
}

.card-img-top {
    height: 200px;
}