#submitSection {
    width: 100%;
    float: left;
}

#pictureSection {
    float: left;
    width: 100%;
}

#header {
    margin: 20px;
}

.card {
    width: 31%;
    float: left;
    margin: 10px; 
}

.card-img-top {
    height: 200px;
}

body {
    background-image: url("../images/trees.jpg");
    background-size: 100%;
}

.container-fluid {
    padding: 0;
    width: 100%
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.card-body {
    padding: 0;
}

#uploader {
    width: 100%;
}